[log]
level=debug
asyncchan=1000

[system]
debug=true
crossdomain=false
casesensitive=false
maxmemorymb=64
appname=lessgo

[info]
description=A simple, stable, efficient and flexible web framework.
email=henrylee_cn@foxmail.com
termsofserviceurl=https://github.com/lessgo/lessgo
license=MIT
licenseurl=https://github.com/lessgo/lessgo/raw/master/doc/LICENSE
version=0.4.0

[filecache]
cachesecond=600
singlefileallowmb=64
maxcapmb=256

[listen]
readtimeout=0
writetimeout=0
enablehttps=false
httpscertfile=
httpskeyfile=
graceful=false
address=0.0.0.0:8080

[session]
provider=memory
providerconfig={"cookieName":"gosessionid", "enableSetCookie,omitempty": true, "gclifetime":3600, "maxLifetime": 3600, "secure": false, "sessionIDHashFunc": "sha1", "sessionIDHashKey": "", "cookieLifeTime": 3600, "providerConfig": ""}
gcmaxlifetime=3600
cookielifetime=3600
enablesetcookie=true
domain=
enable=true
cookiename=lessgosessionID

