[filecache]
cachesecond=600
maxcapmb=256
singlefileallowmb=64

[info]
description=A simple, stable, efficient and flexible web framework.
email=henrylee_cn@foxmail.com
license=MIT
licenseurl=https://github.com/lessgo/lessgo/raw/master/doc/LICENSE
termsofserviceurl=https://github.com/lessgo/lessgo
version=0.4.0

[listen]
address=0.0.0.0:8080
enablehttps=false
graceful=false
httpscertfile=
httpskeyfile=
readtimeout=0
writetimeout=0

[log]
asyncchan=1000
level=debug

[session]
enablesidinhttpheader=false
enablesidinurlquery=false
sessionautosetcookie=true
sessioncookielifetime=0
sessiondomain=
sessiongcmaxlifetime=3600
sessionname=lessgosessionID
sessionnameinhttpheader=Lessgosessionid
sessionon=false
sessionprovider=memory
sessionproviderconfig=

[system]
appname=lessgo
crossdomain=false
debug=true
maxmemorymb=64

