[session]
cookiename=lessgosessionID
provider=memory
providerconfig={"cookieName":"gosessionid", "enableSetCookie,omitempty": true, "gclifetime":3600, "maxLifetime": 3600, "secure": false, "sessionIDHashFunc": "sha1", "sessionIDHashKey": "", "cookieLifeTime": 3600, "providerConfig": ""}
gcmaxlifetime=3600
cookielifetime=3600
enablesetcookie=true
domain=
enable=true

[log]
asyncchan=1000
level=debug

[system]
casesensitive=false
maxmemorymb=64
crossdomain=true
appname=lessgo
debug=true

[info]
termsofserviceurl=https://github.com/lessgo/lessgo
email=henrylee_cn@foxmail.com
license=MIT
licenseurl=https://github.com/lessgo/lessgo/raw/master/doc/LICENSE
version=0.4.0
description=A simple, stable, efficient and flexible web framework.
host=127.0.0.1:8080
contact=henrylee_cn@foxmail.com

[filecache]
maxcapmb=256
cachesecond=600
singlefileallowmb=64

[listen]
httpskeyfile=
graceful=false
address=0.0.0.0:8080
readtimeout=0
writetimeout=0
enablehttps=false
httpscertfile=

