[log]
asyncchan=1000
level=debug

[system]
debug=true
crossdomain=true
casesensitive=false
maxmemorymb=64
appname=lessgo

[info]
license=MIT
licenseurl=https://github.com/lessgo/lessgo/raw/master/doc/LICENSE
version=0.4.0
description=A simple, stable, efficient and flexible web framework.
host=127.0.0.1:8080
email=henrylee_cn@foxmail.com
termsofserviceurl=https://github.com/lessgo/lessgo

[filecache]
maxcapmb=256
cachesecond=600
singlefileallowmb=64

[listen]
enablehttps=false
httpscertfile=
httpskeyfile=
address=0.0.0.0:8080
readtimeout=0
writetimeout=0

[session]
cookiename=lessgosessionID
provider=memory
providerconfig={"cookieName":"gosessionid", "enableSetCookie,omitempty": true, "gclifetime":3600, "maxLifetime": 3600, "secure": false, "sessionIDHashFunc": "sha1", "sessionIDHashKey": "", "cookieLifeTime": 3600, "providerConfig": ""}
gcmaxlifetime=3600
cookielifetime=3600
enablesetcookie=true
domain=
enable=true

