[defaultdb2]
maxopenconns=1
tablesnake=true
maxidleconns=1
name=lessgo2
columnpace=
columnfix=prefix
driver=sqlite3
columnsnake=true
tablespace=
showexectime=false
disablecache=false
tablefix=prefix
connstring=Common/DB/sqlite.db
showsql=false

[defaultdb]
showsql=false
driver=mysql
tablefix=prefix
columnfix=prefix
tablespace=
maxopenconns=1000
showexectime=false
connstring=root:@tcp(127.0.0.1:3306)/lessgo?charset=utf8
maxidleconns=1000
disablecache=false
name=lessgo
columnpace=
tablesnake=true
columnsnake=true

