[defaultdb]
tablefix=prefix
columnfix=prefix
maxopenconns=1000
columnpace=
connstring=root:@tcp(127.0.0.1:3306)/lessgo?charset=utf8
tablesnake=true
maxidleconns=1000
name=lessgo
showsql=false
showexectime=false
disablecache=false
driver=mysql
tablespace=
columnsnake=true

[defaultdb2]
name=lessgo2
tablespace=
columnsnake=true
maxopenconns=1
tablefix=prefix
columnfix=prefix
showsql=false
showexectime=false
maxidleconns=1
columnpace=
connstring=Common/DB/sqlite.db
driver=sqlite3
disablecache=false
tablesnake=true

