[defaultdb]
tablefix=prefix
showsql=false
connstring=Common/DB/sqlite.db
name=lessgo
tablesnake=true
maxopenconns=1
tablespace=
columnfix=prefix
maxidleconns=1
columnsnake=true
showexectime=false
columnpace=
driver=sqlite3
disablecache=false

[defaultdb2]
name=lessgo
columnpace=
tablespace=
showexectime=false
columnsnake=true
maxopenconns=1000
driver=mysql
tablesnake=true
tablefix=prefix
columnfix=prefix
showsql=false
connstring=root:@tcp(127.0.0.1:3306)/lessgo?charset=utf8
disablecache=false
maxidleconns=1000

