{
  "md5": "6624554960986159146",
  "virtrouter": {
    "id": "b0690415-ba1f-4a06-af7c-4d6c6e951258",
    "type": 0,
    "prefix": "/",
    "middlewares": [],
    "enable": true,
    "dynamic": false,
    "hid": "7cb4e397",
    "children": [
      {
        "id": "e50ba6d2-5825-4824-af18-bd13d50a446d",
        "type": 1,
        "prefix": "/admin",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "c4abd3c5",
        "children": [
          {
            "id": "6fe8bfd2-204e-43dd-89b6-5534e7f70c49",
            "type": 2,
            "prefix": "/index",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "9599e768",
            "children": null
          },
          {
            "id": "1143ee4d-037c-478f-958e-dc885cdac787",
            "type": 1,
            "prefix": "/login",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "bf174920",
            "children": [
              {
                "id": "30e89e29-230d-44d4-9090-e9a0d73cf808",
                "type": 2,
                "prefix": "/",
                "middlewares": [],
                "enable": true,
                "dynamic": false,
                "hid": "dbaa0c48",
                "children": null
              }
            ]
          }
        ]
      },
      {
        "id": "deb663d1-9dd0-4c96-9e7d-993bb4711cb2",
        "type": 2,
        "prefix": "/apidoc/*filepath",
        "middlewares": [
          {
            "name": "OnlyLANAccess",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "c1fcff1",
        "children": null
      },
      {
        "id": "5c1ac77d-58eb-4639-a616-a5b5bc1ac65c",
        "type": 1,
        "prefix": "/home",
        "middlewares": [
          {
            "name": "打印测试",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "514af34b",
        "children": [
          {
            "id": "0ba75ee1-c149-4c88-b5a2-7f1878925f4d",
            "type": 2,
            "prefix": "/index",
            "middlewares": [
              {
                "name": "显示Header",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "d8cee984",
            "children": null
          }
        ]
      },
      {
        "id": "3148e5d8-18f1-4e4e-bdba-089980d79a99",
        "type": 2,
        "prefix": "/md1",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "51387863",
        "children": null
      },
      {
        "id": "18d1759c-275c-4297-85d1-9d7aaf378adc",
        "type": 2,
        "prefix": "/md2",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "553dd4ad",
        "children": null
      },
      {
        "id": "f1aee4a1-3943-41f5-8ad9-2c751347f0e7",
        "type": 2,
        "prefix": "/swagger.json",
        "middlewares": [
          {
            "name": "OnlyLANAccess",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "2adbb56b",
        "children": null
      },
      {
        "id": "2bb2beca-b945-4be6-b9d0-f983cd1b3b0d",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "ace6a63a",
        "children": null
      },
      {
        "id": "1b897b37-28b2-44d6-b2d4-5bd4411182d6",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "4f789960",
        "children": null
      },
      {
        "id": "7e28c03e-134c-4d8b-a884-2e278561cdda",
        "type": 2,
        "prefix": "/websocket",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "775e0155",
        "children": null
      }
    ]
  }
}