{
  "md5": "4862101965783427653",
  "virtrouter": {
    "id": "9cfa644b-0892-451e-94d0-a5f628bd0138",
    "type": 0,
    "prefix": "/",
    "middlewares": [],
    "enable": true,
    "dynamic": false,
    "hid": "7cb4e397",
    "children": [
      {
        "id": "b61776b5-ff6b-4b97-8db0-6ac7917628fe",
        "type": 1,
        "prefix": "/admin",
        "middlewares": [
          {
            "name": "测试参数",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "c4abd3c5",
        "children": [
          {
            "id": "55198cec-717f-43f3-b1be-ac53c162443d",
            "type": 2,
            "prefix": "/index",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "940e9d9f",
            "children": null
          },
          {
            "id": "a9031091-97e3-4154-a11e-0a7c32d97c83",
            "type": 1,
            "prefix": "/login",
            "middlewares": [
              {
                "name": "测试参数(2)",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "bf174920",
            "children": [
              {
                "id": "36193537-3b6f-424e-ae07-60bb61870caf",
                "type": 2,
                "prefix": "/",
                "middlewares": [],
                "enable": true,
                "dynamic": false,
                "hid": "9faa3a34",
                "children": null
              }
            ]
          }
        ]
      },
      {
        "id": "c74afaf5-9c8d-4d88-8403-cf0f709a4d3f",
        "type": 2,
        "prefix": "/apidoc/*filepath",
        "middlewares": [
          {
            "name": "allowApidoc",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "c1fcff1",
        "children": null
      },
      {
        "id": "bd0eee7d-21c0-459b-8651-4c19997febb3",
        "type": 2,
        "prefix": "/baidu",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "493d7a3d",
        "children": null
      },
      {
        "id": "c6d01a8d-ae80-4875-a5d8-2edbe8b3444a",
        "type": 2,
        "prefix": "/checkbox",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "8075f9de",
        "children": null
      },
      {
        "id": "9ccdebc2-d7f2-42a9-88e0-1361ab842ff1",
        "type": 2,
        "prefix": "/checkbox",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "b92677e9",
        "children": null
      },
      {
        "id": "f6505e7d-1f2e-4746-acfc-090930a8899c",
        "type": 1,
        "prefix": "/home",
        "middlewares": [
          {
            "name": "打印测试",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "514af34b",
        "children": [
          {
            "id": "472a6907-ca8a-4529-a305-98a9b5e12299",
            "type": 2,
            "prefix": "/index",
            "middlewares": [
              {
                "name": "显示Header",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "1d724099",
            "children": null
          }
        ]
      },
      {
        "id": "304a9164-57c0-4a5f-bca6-5852aa1cb217",
        "type": 2,
        "prefix": "/md1",
        "middlewares": [
          {
            "name": "Gzip",
            "config": "{\n  \"level\": -1\n}"
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "2660e6fc",
        "children": null
      },
      {
        "id": "9f648daf-6445-4c0d-83c6-d185ff716292",
        "type": 2,
        "prefix": "/md2",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "29d1d9f2",
        "children": null
      },
      {
        "id": "2c80bf01-8490-4b86-8936-26c7d42f2fa3",
        "type": 2,
        "prefix": "/swagger.json",
        "middlewares": [
          {
            "name": "allowApidoc",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "2adbb56b",
        "children": null
      },
      {
        "id": "d65b1110-510b-4572-ba26-dd632b339697",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "257442e9",
        "children": null
      },
      {
        "id": "6167b214-8581-425a-86f1-4900bec20d37",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "69fb12b1",
        "children": null
      },
      {
        "id": "c69dd7e2-af86-47fe-8e1a-03a7fd5191b4",
        "type": 2,
        "prefix": "/websocket",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "26f12d4d",
        "children": null
      }
    ]
  }
}