{
  "md5": "17631072891597389774",
  "virtrouter": {
    "id": "68997ada-37ad-4ace-9ec1-0d8e57c5ea68",
    "type": 0,
    "prefix": "/",
    "middlewares": [],
    "enable": true,
    "dynamic": false,
    "hid": "7cb4e397",
    "children": [
      {
        "id": "3ebf7c65-4f6b-4cf5-afaf-521da24fde99",
        "type": 1,
        "prefix": "/admin",
        "middlewares": [
          {
            "name": "测试参数",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "c4abd3c5",
        "children": [
          {
            "id": "1c060605-ba37-498d-a0a8-1fae21ab933e",
            "type": 2,
            "prefix": "/index",
            "middlewares": [],
            "enable": true,
            "dynamic": false,
            "hid": "7e23ea32",
            "children": null
          },
          {
            "id": "4ae8a2e4-9355-40a4-a7f4-0cfb513c2c23",
            "type": 1,
            "prefix": "/login",
            "middlewares": [
              {
                "name": "测试参数(2)",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "bf174920",
            "children": [
              {
                "id": "f7b8b98e-0a96-4516-9f92-1b00b53fece1",
                "type": 2,
                "prefix": "/",
                "middlewares": [],
                "enable": true,
                "dynamic": false,
                "hid": "ee2bb4c8",
                "children": null
              }
            ]
          }
        ]
      },
      {
        "id": "99983914-5595-4c51-a031-de8ee9eadc15",
        "type": 2,
        "prefix": "/apidoc/*filepath",
        "middlewares": [
          {
            "name": "allowApidoc",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "b16f8ec3",
        "children": null
      },
      {
        "id": "c20a34c2-da8c-4874-8df0-45a4653f3a80",
        "type": 2,
        "prefix": "/baidu",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "16cddeb9",
        "children": null
      },
      {
        "id": "632308ad-71fd-436c-97ea-9e55c6ec0811",
        "type": 2,
        "prefix": "/checkbox",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "b7edfba2",
        "children": null
      },
      {
        "id": "350e4b85-6941-4ab6-a09f-49cd446359b4",
        "type": 2,
        "prefix": "/checkbox",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "e0a2d2fc",
        "children": null
      },
      {
        "id": "1d43988d-fbd2-4926-a494-780cba4406c5",
        "type": 1,
        "prefix": "/home",
        "middlewares": [
          {
            "name": "打印测试",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "514af34b",
        "children": [
          {
            "id": "dfa6def0-3819-429d-8a78-b608078d89db",
            "type": 2,
            "prefix": "/index",
            "middlewares": [
              {
                "name": "显示Header",
                "config": ""
              }
            ],
            "enable": true,
            "dynamic": false,
            "hid": "197073e",
            "children": null
          }
        ]
      },
      {
        "id": "9573e97c-32b2-49d3-9704-9c265d22aaa8",
        "type": 2,
        "prefix": "/md1",
        "middlewares": [
          {
            "name": "Gzip",
            "config": "{\n  \"level\": -1\n}"
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "a574522a",
        "children": null
      },
      {
        "id": "0e5d0698-ca62-4ea5-90f8-660f341aef58",
        "type": 2,
        "prefix": "/md2",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "55812e7d",
        "children": null
      },
      {
        "id": "aeb265cc-e7cc-44cc-9168-371c3c587cb1",
        "type": 2,
        "prefix": "/swagger.json",
        "middlewares": [
          {
            "name": "allowApidoc",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "e2b194aa",
        "children": null
      },
      {
        "id": "5b873a0f-994c-416d-8b2c-c96c671804bc",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "b47daa1e",
        "children": null
      },
      {
        "id": "c109c0d5-b9d4-4f56-995d-fb6884084cdf",
        "type": 2,
        "prefix": "/upload",
        "middlewares": [],
        "enable": true,
        "dynamic": false,
        "hid": "307fb7a4",
        "children": null
      },
      {
        "id": "c1f2b153-0b04-405c-a0e3-2c9febdc9826",
        "type": 2,
        "prefix": "/websocket",
        "middlewares": [
          {
            "name": "显示Header",
            "config": ""
          }
        ],
        "enable": true,
        "dynamic": false,
        "hid": "f9d569c1",
        "children": null
      }
    ]
  }
}